.component-list {
    display: flex;
    flex-direction: column;
    border-right: 3px black solid;
    height: 100vh;
}

.component-list button {
    all: unset;
    border-bottom: 1px black solid;
    margin-bottom: 5px;
}
