root = true

# The config below matches multiple files in the root directory
[*] 
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_white_space = true
insert_final_newline = true

# Matches all files with the '.md' extension
[*.md]
trim_trailing_white_space = false
