nav{
  display: flex;
  align-items: center;
  width: 100vw;
  height: 4em;
  background-color: #5b78c7;

  .nav-links{
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    & li a{
      color: #ffffff;
      text-decoration: none;
      font-size: 16px;

    }
  }
}