@import url('https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css');

nav.responsive-toolbar{
  background: #333;
  height: 60px;
  width:100%;
  position: fixed;
  box-shadow: 2px 2px 2px #ccc;

  ul{
    background: #333;
    display: flex;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    height: 100%;
    align-items: center;
    box-shadow: 2px 2px 2px #ccc;

    figure{
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 2px;
      margin-inline-end: 0;
      cursor: pointer;
    }

    li{
      list-style-type: none;
      padding: 10px 20px;
    }
    a{
      color: #fff;
      text-decoration: none;
      align-items: center;
      display: flex;
      flex-direction: row-reverse;
    }
    i{
      margin-left: 5px;
      margin-right: 10px;
      color: #fff;
      font-size: 20px;
    }
  }
}

@media screen and(max-width: 759px) {
  nav.responsive-toolbar{
    ul{
      height: 100%;
      width: 300px;
      left: -240px;
      position: fixed;
      top: 60px;
      flex-direction: column;
      transition: 300ms ease all;

      &.active{
        left: 0;
      }

      figure{
        position: fixed;
        left: 7px;
        top: 10px;
      }

      li{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
      }
      a {
        flex-direction: row;
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 13px;
      }
    }
  }
}