.simple-button {
  padding: 10px 15px;
  border: none;
  color: white;
  border-radius: 6px;
}

/*colors*/
.simple-button.red {
  background: red;
}

.simple-button.blue {
  background: blue;
}

.simple-button.black {
  background: red;
}

/*sizes*/
.simple-button.sm {
  font-size: 16px;
}

.simple-button.md {
  font-size: 20px;
}

.simple-button.lg {
  font-size: 24px;
}
