.avatar {
  background: #eeeeee;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar > img {
  border-radius: 50%;
}

.avatar span {
  /* background: #eeeeee; */
}

/*sizes*/

.avatar span.xs {
  line-height: 24px;
}

.avatar span.sm {
  line-height: 32px;
}

.avatar span.md {
  line-height: 48px;
}

.avatar span.lg {
  line-height: 64px;
}

.avatar span.xl {
  line-height: 120px;
}

.avatar.xs,
.avatar img.xs {
  width: 24px;
  height: 24px;
}

.avatar.sm,
.avatar img.sm {
  width: 32px;
  height: 32px;
}

.avatar.md,
.avatar img.md,
.avatar span.md {
  width: 48px;
  height: 48px;
}

.avatar.lg,
.avatar img.lg {
  width: 64px;
  height: 64px;
}

.avatar.xl,
.avatar img.xl {
  width: 120px;
  height: 120px;
}
