.docs {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.docs-nav {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  background: rgb(242, 242, 242);
  overflow: hidden;
}

.docs-nav-header,
.docs-nav-list {
  display: flex;
  flex-direction: column;
}

.docs-nav-list {
  overflow-y: auto;
}

.docs-nav-header span {
  font-size: 18px;
  letter-spacing: 1px;
  margin: 20px 0 18px 0;
  text-align: center;
  text-transform: uppercase;
}

.docs-nav-header input {
  background: rgba(214, 214, 214, 0.5);
  border: none;
  letter-spacing: 1px;
  padding: 14px;
  margin-bottom: 5px;
  height: 40px;
  color: #a49d98;
  font-size: 15px;
}

.docs-nav-list span {
  background-color: unset;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
  border-bottom: 1px solid rgba(214, 214, 214, 0.5);
  padding: 10px 16px;
}

.docs-nav-list span:hover {
  background: #d6d6d6;
}

.docs-content {
  padding: 16px 60px;
  overflow-y: auto;
  flex: 1 1 auto;
}
