.docs {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.docs-nav {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  background: rgb(242, 242, 242);
  overflow: hidden;
}

.docs-nav-header, .docs-nav-list {
  display: flex;
  flex-direction: column;
}

.docs-nav-list {
  overflow-y: auto;
  border-top: 1px solid rgba(214, 214, 214, 0.8);
}

.docs-nav-header span {
  font-size: 18px;
  letter-spacing: 1px;
  margin: 20px 0 18px 0;
  text-align: center;
  text-transform: uppercase;
}

.docs-nav-header input {
  background: rgba(214, 214, 214, 0.5);
  border: none;
  letter-spacing: 1px;
  padding: 16px;
  /* margin-bottom: 5px; */
  height: 45px;
  color: #a49d98;
  font-size: 15px;
}

.docs-nav-list span {
  font-size: 16px;
  border-bottom: 1px solid rgba(164, 157, 152, 0.7);
  color: #333333;
  cursor: pointer;
  padding: 16px 24px;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.docs-nav-list span:hover, .docs-nav-list span.active {
  background: #d6d6d6;
}

.docs-content {
  padding: 16px 60px;
  overflow-y: auto;
  flex: 1 1 auto;
}

/* loading */

.loadWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}