@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import '~github-markdown-css';
:root {
  --transition: all 200ms ease-out;
}

:focus {
  outline: none;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.5px;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
